{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": true,
    "singleQuote": true,
    "requirePragma": true,
    "bracketSpacing": true,
    "bracketSameLine": true
}
